body{
    background-color: #f2e2c4;
    background-repeat: no-repeat;
    background-size: 100%;
    /*Esto es para poner el fondo a la pagina web*/
}

.encabezado{
  font-size: xx-large;
}

.caja{
  background-color: #f2e2c4;
  height: 330px;
}

header nav{
    /*editamos el nav nada mas dentro del nav*/
    background: #0a4934;
    overflow:hidden;
}

header nav ul{
    /*Edtamos los atributos dentro del header/listas*/
    list-style: none;
}

header nav ul li{
    /*es la barra de navegación y estamos alineando las listas a la izquierda */
    float: left;
}

header nav ul li a{
    /*definimos un espacio rectangular su ancho y alto, su color, y el espacio entre el contenido y el texto*/
    padding: 10px 40px;
    font-size: larger;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

header nav ul li a:hover{
    /*definimos el color donde se encuentran las listas*/
    background: #b63c27;
}


.slider img{
    display: block;
    width: 800px;
    height: 800px;
}
/*Esto es para dar tamaño a las imagenes dentro del slider*/

.slider img:first-child{
   display: block;
}
/*aqui el primer hijo del slider en este caso las imagenes en el momento que se muestren van a estar*/
/*ocupando todo el bloque para que quede bien*/

.sliderP{
   height: 100vh;
   width: 100vh;
}
/*esto da tamaño que es la altura y anchura al 100% de la altura del navegador*/

.slider{
   height: 10vh;
   width: 10vh;
}
/*aqui establecemos los tamaños de la clase slider a un tamaño en especifico del navegador*/

.formulario{
    padding: 2%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #ad7747;
    border-radius: 10px;
}
/*Aqui ponemos en un lugar especifico dentro de la caja del formulario*/

.FH{
  padding: 2%;
    position: absolute;
    top: 45%;
    left: 11%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #d13318;
    border-radius: 9px;
}

.FH2{
  padding: 2%;
    position: absolute;
    top: 10%;
    left: 11%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #d13318;
    border-radius: 9px;
}
/*Damos formato a la fecha y hora 2 que se encuentra en contacto*/

.mariano{
  font-family: 'Franklin Gothic Medium';
  font-size: 20px;
    padding: 2%;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #173786;
    border-radius: 10px;
}
/*Aqui modifico mi cuadro con mi informacion y la posicion de el cuadro, tipo de letra y tamaño*/

.luis{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 2%;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #87b6d4;
  border-radius: 10px;
}
/*Aqui cambio mi tipo de letra favorita, el tamaño, tipografia y el cuadro de mi color favorito :)*/

.anya{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 2%;
  position: absolute;
  top: 128%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #770000;
  border-radius: 10px;
}
/*Aqui modifico mi cuadro con mi informacion, tamaño de letra, tipografia y el cuadro de mi color favorito*/

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
}
/*Esto es para cambiar la posicion de nuestro h1*/

.registrarse{
    padding: 5%;
}
/*Esto es parte del formulario de registro para dar un formato*/

.mapa{
    padding: 2%;
    position: absolute;
    top: 141%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
}
/*Aqui le damos un lugar en el centro de la pantalla al mapa */

/**.footer{
    padding: 2%;
    position: absolute;
    top: 190%;
    left: 11%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
}
/*Aqui le asignamos un lugar al footer que es el boton de subir*/

<style>
  .menu {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .menu a:hover {
    background-color: #ccc;
  }

  footer{
    /*seleccionamos el color del footer, color de las letras el tamaño de la caja y centramos el texto*/
    background: #d1d361;
    color: #fff;
    clear: both;
    padding: 10px 20px;
    text-align: center;
  }
</style>

header, .contenedor, footer{
  width:90%;
  max-width: 1000px;
  margin: 20px auto;
}

header nav{
  background: #0a4934;
  overflow:hidden;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  float: left;
}

header nav ul li a{
  padding: 10px 40px;
  display: block;
  color: #fff;
  text-decoration: none;
}

header nav ul li a:hover{
  background: #b63c27;
}

.Formulario .contenedor-inputs{
  padding: 20px;
  background: #FAFAFA;
  border-radius: 6px 6px 0 0;
}

.Formulario input[type="text"],
.Formulario input[type="email"]{
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 10px;
  border: none;
  border-bottom: 2px solid#ccc;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.Formulario input[type="text"]:focus,
.Formulario input[type="email"]:focus{
  border-bottom: 2px solid #246eb9;
}

.Formulario input[type="radio"]{
  display: none;
}

.Formulario .genero{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Formulario .genero .label-radio{
  width: 50%;
  color: #000;
}

.Formulario .genero .hombre{
  border-radius: 3px 0 0 3px;
  color: #000;
}

.Formulario .genero .mujer{
  border-radius: 0 3px 3px 0;
  color: #000;
}

.Formulario .label-radio{
  background: #0a4934(1, 223, 1, .4);
  color: #fff;
  padding: 10px 10px;
  text-align: center;
}

.Formulario input[type="radio"]:checked + .label-radio{
  background: #0a4934a1;
  color: #fff;
}

.Formulario .terminos{
  /margin-bottom: 20px;/
  text-align: center;
  color: #424242;
}

.Formulario .terminos label{
  margin-left: 10px;
}

.Formulario .error{
  display: none;
  margin-top: 20PX;
  border-radius: 3px;
  background: #d1b847;
  color: #2e2e2e;
  padding: 15px 10px;
  padding-left: 40px;
}

.Formulario .btn{
  width: 100%;
  text-align: center;
  background: #b96c24;
  color:#fff;
  border: none;
  display: block;
  padding: 15px 10px;
  cursor:pointer;
  border-radius: 0 0 6px 6px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

